* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: Muller, Tahoma, Geneva, sans-serif;
  display: flex;
  min-height: 100%;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  width: 100%;
}